<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}

    <form method = "POST" action = "">
        {% csrf_token %}
        <p>Are you sure you want tp delete "{{obj}}"?</p>
        <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
        <input type="submit" value="Confirm" />
        <!-- we are adding input button submit and confirming that value
        We need to redirect the user to the back page that why we have href
        -->

    </form>

    {%  endblock content %}
</body>
</html>