<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}

    {% if page == 'login' %}
    <div>
      <form method="POST" action="">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username" />

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password" />

        <input type="submit" value="login">
      </form>

      <p>Haven't signed up yet?</p>
      <a href="{% url 'register' %}">Sign up</a>
    </div>

    {% else %}

    <div>
      <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Register">
      </form>
      <p>Already signed up</p>
      <a href="{% url 'login' %}">Login</a>
    </div>

    {% endif %}

    {% endblock content %}

</body>
</html>

<!-- When we type in input it give result like text/ number/ password that is 4 rules
then if we need to submit it we use type submit
.as_p wrap the paragrap so it look good
We have just added inbuilt form for now for user registeration -->